<!DOCTYPE html>
<html>
    <head>
        <!-- Fetch d3 -->
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <!-- Fetch jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Fetch Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body style="padding:5%; text-align: center;">
        <div id="chart">
        </div>
        <div id="dataset_dropdown">
            <h3>Select dataset</h3>
        </div>
        <div id="visualize_btn">
            <button type="button" class="btn btn-primary" onclick="visualize()">Visualize</button>
        </div>
    </body>
    <script>
        // Fetch time series from jinja2
        var time_series = {{ time_series|tojson }};
        // Fetch dataset names from jinja2
        var dataset_list = {{ dataset_list|tojson }};
        // Fetch snr_series from jinja2
        var snr_series = {{ snr_series|tojson }};
        // Fetch partitions from jinja2
        var partitions = {{ partitions|tojson }};

        // Populate dataset list as a dropdown
        var dataset_dropdown = d3.select("#dataset_dropdown")
            .append("select")
            .attr("id", "dataset_dropdown_select")
            .on("change", function(d) {
                var selected_dataset = d3.select(this).property("value");
                // Redirection to visualize page with selected dataset
                console.log(selected_dataset);
                window.location.href = "/analyze/" + selected_dataset;
            });
        // Add options to dropdown
        dataset_dropdown.selectAll("option")
            .data(dataset_list)
            .enter()
            .append("option")
            .attr("value", function(d) { return d; })
            .text(function(d) { return d; });
        // Set default value of dropdown to none
        dataset_dropdown.property("value", "none");
        


        // set the dimensions and margins of the graph
        var margin = {top: 10, right: 30, bottom: 30, left: 60},
            width = 900 - margin.left - margin.right,
            height = 400 - margin.top - margin.bottom;

        // Get max value of elements in time_series
        var max_value = -1000;
        var min_value = +1000;
        for (var i = 0; i < time_series.length; i++) {
            if (time_series[i] > max_value) {
                max_value = time_series[i];
            }
            if (time_series[i] < min_value) {
                min_value = time_series[i];
            }
        }

        // append the svg object to the body of the page
        var svg = d3.select("#chart")
        .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
        .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");

        // Add the X axis with labels
        var x = d3.scaleLinear()
            .domain([0, time_series.length])
            .range([ 0, width ]);
        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));


        // Add the Y axis with labels
        var y = d3.scaleLinear()
            .domain([-3, 3])
            .range([ height, 0]);
        svg.append("g")
            .call(d3.axisLeft(y));

        // Add the line for the time series
        svg.append("path")
            .datum(time_series)
            .attr("fill", "none")
            .attr("stroke", "steelblue")
            .attr("stroke-width", 1.5)
            .attr("d", d3.line()
                .x(function(d, i) { return x(i) })
                .y(function(d) { return y(d) })
                )

        // Add the line for the snr series.
        svg.append("path")
            .datum(snr_series)
            .attr("fill", "none")
            .attr("stroke", "orange")
            .attr("stroke-width", 1.5)
            .attr("d", d3.line()
                .x(function(d, i) { return x(i) })
                .y(function(d) { return y(d) })
                )

        // Add vertical dashed lines for partitions at position given by partitions
        svg.selectAll("myline")
            .data(partitions)
            .enter()
            .append("line")
                .attr("x1", function(d) { return x(d); })
                .attr("x2", function(d) { return x(d); })
                .attr("y1", y(-3))
                .attr("y2", y(3))
                .attr("stroke", "red")
                .style("stroke-dasharray", ("3, 3"))

        function visualize() {
            // Redirect to current URL but with "visualize" replaced by "analyze"
            var url = window.location.href;
            var new_url = url.replace("analyze", "visualize");
            window.location.href = new_url;
        }
        
    </script>
</html>